<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (pageTitle='강의 목록')"></head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>강의 목록</h2>
            <p>원하는 강의를 선택 후 시간표 만들기 버튼을 눌러주세요.</p>
            <div class="button-wrap">
                <button class="scheduleBtn btn btn-outline-primary" type="button">시간표 만들기</button>
            </div>

            <div class="card course" th:each="course: ${courses}" th:attr="data-course-id=${course.id}">
                <div class="card-body">
                    <p class="course-title" th:text="${course.title}"></p>
                    <p th:text="${course.credit}"></p>
                    <ul>
                        <li th:each="section: ${course.sections}" th:attr="data-section-id=${section.id}">
                            <p th:text="'Section' + ${sectionStat.count}"></p>
                            <p th:each="sectionTime: ${section.sectionTimes}">
                                <span th:text="${sectionTime.weekday}"></span>
                                <span th:text="${sectionTime.period}"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="button-wrap">
                <button class="scheduleBtn btn btn-outline-primary" type="button">시간표 만들기</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/course.js}"></script>

</body>
</html>
