.container {
    padding-top: 30px;
    margin-bottom: 20px;
}
.container h2 {
    margin-bottom: 20px;
}
.card {
    margin-bottom: 11px;
}
.card .button-wrap {
    text-align: right;
    margin-bottom: 15px;
}
.card.course {
    font-size: 12px;
    cursor: pointer;
}
.card.course.selected {
    border: 2px solid #000;
}
.card.course .course-title {
    font-size: 16px;
    line-height: 7px;
}
